div {
	border-style: solid;
	
}
td{
	font-size: 14px;
	border-style: solid;
	border-width: 1px
	color: #777;
}
a{
	text-decoration: none;
	padding: 0 10px;
	color: #000000;
}
a:hover{
	color: #FF0000;
}
table{
	border-style: solid;
	border-width: 2px
	
}